@model BookStore.Models.Review

@{
    ViewData["Title"] = "Create";
}

<style>

    .DetailBtn {
        background-color: #dc143c;
        color: white;
    }

        .DetailBtn:hover {
            background-color: #fff;
            border: 1px solid red;
            color: #dc143c;
        }

    .DetailBtn1 {
        background-color: #fff;
        border: 1px solid red;
        color: #dc143c;
    }

        .DetailBtn1:hover {
            background-color: #dc143c;
            color: white;
        }
</style>

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 style="color:#dc143c">Add a New Review</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" asp-controller="Reviews">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        
                        <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId">
                            <option value="">Select a Book</option>
                        </select>
                    </div><br />

                    <label asp-for="AppUser" class="control-label"></label>
                    <input asp-for="AppUser" class="form-control" />
                    <span asp-validation-for="AppUser" class="text-danger"></span>

                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>

                    <div class="form-group">
                        <label asp-for="Rating" class="control-label"></label>
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn DetailBtn float-end" />
                        <a class="btn DetailBtn1" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
